<ion-view view-title="Welcome" ng-controller="HomeController">
	<!--<ion-header-bar align-title="left" class="bar-positive">

	</ion-header-bar>-->
	<ion-content class="home">
		<div class="birthday">
			<img src="assets/images/candle.gif">
		</div>
		<div class="birthday balloons">
			<img src="assets/images/balloons.gif">
		</div>
		<div class= "row profile">
			<span>
				<img src="assets/images/profiles/murali.jpg">
			</span>		  		
		</div>	
		<!--<ion-list>
		  <ion-item href="#/detail">
		    Cut Your Cake!
		  </ion-item>
		</ion-list>-->
		<div class="row quotes">
			<p>On your special day, I wish you good luck. I hope this wonderful day will fill up your heart with joy and blessings. Happy Birthday <b><i>Murali</i></b> !!!</p>
		</div>
		<div class="row">
			<button ion-button full>Cut Your Cake here!</button>
		</div>

		

	  <!--<p>
	    <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
	  </p>-->
	</ion-content>
</ion-view>