<ion-view view-title="Timer" ng-controller="TimerController">
	<ion-content class="padding timer">
		<div class="row clock">
			<div class="col-33"><span>{{time.hours}}</span></div>
			<div class="col-33"><span>{{time.minutes}}</span></div>
			<div class="col-33"><span>{{time.seconds}}</span></div>				
		</div>
		<div class="row units">
			<div class="col-33"><span>Hours</span></div>
			<div class="col-33"><span>Minutes</span></div>
			<div class="col-33"><span>Seconds</span></div>				
		</div>
		
	  <!--<p>
	    <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
	  </p>-->
	</ion-content>
</ion-view>
